<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/Exam/register}" th:object="${member}" method="post">
    名前：<input type="text" th:field="*{name}"><br>
    年齢：<input type="text" th:field="*{age}"><br>
    趣味(3つ)：<br>
    <input type="text" th:field="*{hobbyList[0]}"><br>
    <input type="text" th:field="*{hobbyList[1]}"><br>
    <input type="text" th:field="*{hobbyList[2]}"><br>
    <button>送信</button>
</form>
</body>
</html>
