@charset "UTF-8";

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li {
    width: 200px;
    margin-bottom: 5px;
    color: white;
}
.list li:nth-child(odd) {
    background-color: #800000;
}
.list li:nth-child(even) {
    background-color: green;
}
